@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@font-face {
    font-family: 'Arial';
    src: url('fonts/subset-ArialMT.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: 'Lato Black';
    src: url('fonts/subset-Lato-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Bold';
    src: url('fonts/subset-Arial-BoldMT.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
body{
    font-family: 'Arial';
    color: #363636;
}
.header{
    background-color: #e8ebf1;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
.logo{
    color: #000000;
    font-family: "Lato Black";
    font-weight: 900;
    line-height: 60px;
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.logo_1{
    font-family: "Lato";
    font-weight: 400;
    color: #2aacc8;
}
.link{
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Arial Bold';
}
.nav__items{
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}
.drop{
    position: relative;
}
.sub_nav{
    position: absolute;
    display: none;
    background-color: white;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 5px solid #2aacc8;
}
.drop:hover .sub_nav{
    display: block;
}
.drop:hover{
    background-color:white;
    border-top: 5px solid #2aacc8;
}
.sub__nav__items{
    border-bottom: 1px solid #e7e7e7;
    min-width: 160px;
}
.sub{
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    font-family: 'Arial';

}
.sub:hover{
    color: #2aacc8;
}
/*
.drop::after{
    content: '˅';
    color: #000000;
}*/
.logo{
    display: inline-block;
    vertical-align: top;
}
.nav{
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.clearfix{
    clear: both;
}
.promo{
    background-color: #81e4ed;
    padding-top: 20px;
    padding-bottom: 12px;
}
.container.main{
    background-image: url('img/bgm.png');
    background-repeat: no-repeat;
}
.promo__text{
    color: #ffffff;
    font-family: Lato;
    font-size: 50px;
    font-weight: 700;
    padding: 97px 0px 115px 61px;
    max-width: 300px;;
}
.button{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color:#71a3a7;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
}
.button:last-child{
    margin-right: 0px;
}
.button:hover{
    background-color: white;
}
.button__nav{
    text-align: center;
    margin-top: 12px;
}
/*blocks*/
.blocks{
    background-color: #e8ebf1;
    border-bottom: 1px solid #e7e7e7;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2aacc8;
    background-image: url('img/1.png');
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}
.card_title{
    display: inline-block;
    vertical-align: middle;
}
.second{
    background-image: url('img/2.png');
}
.third{
    background-image: url('img/3.png');
}
.fourth{
    background-image: url('img/4.png');
}
.subtitle{
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.card__text{
    font-size: 13px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 22px;
}
.card_link{
    color:#2aacc8;
    text-decoration: none;
    font-size: 13px;
}
.card_link::before{
    content: '>';
    color: #000000;
    margin-right: 8px;
}
.card{
    display: inline-block;
    vertical-align: top;
    text-align: left;
    max-width: 220px;
    margin: 60px 35px 48px 0px;
}
.card:last-child{
    margin-right: 0px;
}
/*latest works*/
.block{
    border-bottom: 1px solid #dfe1e5;
    margin-top: 20px;
    padding-bottom: 15px;
}
.switch{
    background-color: #81e4ed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    float: right;
}
.block .icon{
    width: 24px;
    height: 24px;
    float: left;
    background-image: url('img/Shape_3.png');
    background-color: white;
}

/*images*/
.img{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 40px;
    margin-bottom: 20px;
}
.preview{
    margin: 29px 30px 27px 69px;
}
.img_link{
    margin: 26px 61px 27px 0px;
}

.hiden{
    position: absolute;
    top: 76px;
    display:none;
    background-color:#2aacc8;
}
.img:hover .hiden{
    display:block;
}
.img:last-child{
    margin-right: 0px;
}
/*termonials*/
.article1 .icon{
    background-image: url('img/comments.png');
}
.name{
    margin-bottom:15px;
}
.author{
    font-style: italic;
    font-family: "Arial - Bold Italic MT";

}
.article1{
    max-width: 425px;
    display: inline-block;
    vertical-align: top;
    margin-right: 84px;
}
.text{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 27px;
}
/*clients*/
.client{
    width: 160px;
    height: 101px;
    box-shadow: inset 0 0 25px #e8ebf1;
    border: 1px solid #e8ebf1;
    background: url('img/logo1.png') no-repeat center;
}
.cnn{
    background-image: url('img/logo2.png');
}
.af{
    background-image: url('img/logo3.png');
}
.jd{
    background-image: url('img/logo4.png');
}
.bb{
    background-image: url('img/logo5.png');
}
.fuj{
    background-image: url('img/logo6.png');
}
.clients{
    display: inline-block;
    vertical-align: top;
}
.article2 .icon{
    background-image: url('img/clients.png');
}
.article2{
    display:inline-block;
    vertical-align: top;
}
/*download*/
.download{
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    padding: 37px 23px 35px 30px;
}
.button__download{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(255, 255, 255, 0.1);
    border: 1px solid #2aacc8;
    background-color: #2aacc8;
    background-image: linear-gradient(to top, #2aacc8 0%, #60cede 15%, #72dae6 50%, #81e4ed 100%);
    border-radius: 6px;
}
.bd{
    background-image: url('img/download.png');
    background-repeat: no-repeat;
    background-position: 19px;
    color: #0d0707;
    font-family: "Arial - Bold MT";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 18px 20px 65px;
}
.download .text{
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    max-width: 620px;
    margin: 0px 80px 0px 0px;
}
/*footer*/
.footer{
    border-top: 1px solid #e1e2e5;
    background-color: #e8ebf1;
    padding-top: 30px;
}
.footer_link{
    text-decoration: none;
    color: #363636;
}
.column{
    display: inline-block;
    vertical-align: top;
}
.about{
    max-width: 240px;
}
.wrap{
    margin-bottom: 40px;
}


